.alert-box {
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none; /* UI숨기는 법 (none vs block) */
}

.list-group {
    display: none;
}

.show {
    display: block;
}