.alert-box {
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none; /* UI숨기는 법 (none vs block) */
}

.list-group {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;

}


.show {
    visibility: visible;
    height: 400px;
}

.black-bg {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 5;
    padding: 30px;
    visibility: hidden; /* 애니메이션줄 때 display : none 대용 */
    opacity: 0;
    transition: all 1s;
    transform: translateY(-100%);
}
.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
}

.show-modal {
    visibility: visible;    /* 애니메이션줄 때 display : block 대용 */
    opacity: 1;
    transform: translateY(0);
}